<footer class="footer">

  <div class="footer-container">

    <div class="footer-left">
      <h5>🍽️ Hotel Billing System</h5>
      <p>
        Efficient billing and restaurant management solution.
      </p>
    </div>

    <div class="footer-center">
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/categories">Categories</a></li>
        <li><a routerLink="/menu">Menu</a></li>
        <li><a routerLink="/billing">Billing</a></li>
      </ul>
    </div>

    <div class="footer-right">
      <p>📧 support@hotelbilling.com</p>
      <p>📞 +91 9876543210</p>

      <p class="location">
        📍 FC Road, Shivajinagar,
        Pune, Maharashtra - 411005
      </p>
    </div>

  </div>

  <div class="footer-bottom">
    © {{ currentYear }} Hotel Billing System.
    All Rights Reserved.
  </div>

</footer>
